#!/bin/bash

go build -o traveledit || exit 1

BASICUSER=user1 \
BASICPASS=somepw \
SCREENSHARENOAUTH= \
PUBLICPATH="../../../public" \
./traveledit \
-location=/ \
-proxypath=/yourproxypath \
-proxypathtrimmed=false \
-addr=:8080



